spring:
  profiles:
    active: ${PROFILE:local}
  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: jdbc:log4jdbc:mysql://${DB_ENDPOINT}/calender?useUnicode=true&characterEncoding=UTF-8
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  web:
    resources:
      add-mappings: false

cloud:
  aws:
    region:
      static: ap-northeast-2
    s3:
      bucket: ${BUCKET_NAME}
    stack:
      auto: false

jwt:
  expiration: 604800000
  prefix: Bearer
  header: Authorization

allowed:
  origins: http://localhost:3000,http://localhost:5500